.container {
    width: 100%;
    margin: 0 20px;
}
header{
    height: 150px;
    background-color: aqua;
}
nav {
    height: 100px;
    background-color: rgb(255, 255, 255);
} 
main {
    height: 500px;
    background-color: brown;
}
footer {
    height: 150px;
    background-color: antiquewhite;
}